@import "tailwindcss";
body {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 231, 242); /* El gris que quieres */
    min-height: 100vh;
    width: 100%;
    /* Quitamos el overflow hidden si lo tenías */
    overflow-y: auto; 
}