/* CSS/desing.css */
.contain-desing {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    /* No pongas position absolute ni fixed aquí */
    position: relative; 
    z-index: 1; /* Esto asegura que estén por encima del fondo */
    justify-content: center; /* Opcional: para centrar las cartas */
}